.main {
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

@keyframes scaling {
    0%, 100% {
        transform: scale(0.2);
        color: #00ff04;
    }
    40% {
        transform: scale(1);
        color: #0015ff;
    }
    50% {
        transform: scale(1);
        color: red;
    }
}

.main div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: none;
    margin: 20px;
    width: 80px;
    height: 80px;
    padding: 0;
    text-transform: uppercase;
    cursor: pointer;
    position: relative;
    background: linear-gradient(145deg, #1e2024, #23272b);
    box-shadow: 10px 10px 19px #1c1e22, -10px -10px 19px #262a2e;
    border-radius: 10px;
    transition: 0.3s all ease-in-out;
    z-index: 3;
    transform: scale(0);
    font-size: 40px;
    animation: scaling 2.0s ease-in-out infinite;
}

@media screen and (max-width: 960px) {
    .main div {
        margin: 15px;
        width: 60px;
        height: 60px;
        font-size: 32px;
    }

}

.main div:nth-child(0) {
    animation-delay: 0s;
}

.main div:nth-child(1) {
    animation-delay: 0.2s;
}

.main div:nth-child(2) {
    animation-delay: 0.4s;
}

.main div:nth-child(3) {
    animation-delay: 0.6s;
}

.main div:nth-child(4) {
    animation-delay: 0.8s;
}

.main div:nth-child(5) {
    animation-delay: 1.0s;
}

.main div:nth-child(6) {
    animation-delay: 1.2s;
}

.main div:nth-child(7) {
    animation-delay: 1.4s;
}

.main div:nth-child(8) {
    animation-delay: 1.6s;
}

.crutch_block {
    margin-top: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

img {
    width: 20%;
    height: 20%;
    animation: crutch 1.0s infinite;
    animation-timing-function: linear
}

@keyframes crutch {
    100% {
        transform: rotate(360deg)
    }
}